<script>
    fetch("https://micro.blog/webmention?target=" + {{ .Permalink }})
  .then(response => {
    if (response.ok) {
      return response.json(); // Parse the response data as JSON
    } else {
      throw new Error('API request failed');
    }
  })
  .then(data => {
    // Process the response data here

    var obj = {
        {{ .Title | urlize }}: data.items.length
    }

    document.getElementById("{{ .Title | urlize }}replyNumber").innerHTML =  ' ' + obj[{{ .Title | urlize }}]; // put count into page

  })
  .catch(error => {
    // Handle any errors here
    console.error(error); // Example: Logging the error to the console
  });
</script>

<div id="{{ .Title | urlize }}replyNumber"></div>